	body, html {
  height: 100%;
}
	body{
		  font-family: "GFS Didot", serif;
  font-weight: 400;
  font-style: normal;
font-size: 15px;
line-height: 1.2;

  height: 100vh;
  background: url('bg.jpg');
  background-size: cover;
  margin: 0;
	}
	

	.page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
	

	
	
	
	
	/* header */

.header{
	opacity: 0.77;
	background: #c8aa50;
	padding-bottom:4px;
	padding-top: 8px;
}
/* titel */
.titel{
	margin-left: 100px;
	margin-top: 13px;
}
.titel svg{
	height: 55px;
	width: auto;
}

.pfeil svg{
	width: 18px;
	height: auto;
	padding-left: 50px;
}

.titel h1{
	  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:200;
  font-style: normal;
  font-size: 25px;
}




	
	
	.grid{
		position: absolute;
		left: 0;
		right: 0;
		opacity: 0.4;
		        transform: translateY(-28px);
		        display: none;
	}
	
	.grid img{
			width: 100%;
		max-width: inherit;
	
	}


img{
	max-width: 100%;
	height: auto;
}




/* footer */

.footer{
	margin-top: 100px;
	
	padding: 15px;
	padding-right: 40px;
	background: rgb(0 0 0 / 15%);
	font-family: "Inter", sans-serif;
	text-align: right;
	opacity: 0.8;
}

.footer a{
	color: black;
	text-decoration: none;
}








/* legende */


.legende {
    margin-top: 140px;
    margin-left: 150px;

    font-size: 13px;

}

.legende ul{
	    column-count: 2;
    column-gap: 40px;
    width: 580px;
    margin: 0;
    padding: 0;
    	break-inside: avoid;
    	
    	list-style: none;
margin-left: 20px;
<div class="stapel">flex
}

.legende li{
	display: grid;
	grid-template-columns: 5ch auto;
}

.legende .nummer{
	
	  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:200;
  font-style: normal;

}




.erschienen{
	margin-top: 70px;
	font-size: 16px;
}



	@media (max-width: 1020px) {

.pfeil svg {
    padding-left: 2%;
}


.titel{
	margin-left: 2%;
	margin-bottom: 25px;
}

.legende {
    margin-left: 5%;
    margin-right: 5%;
}

.legende ul{
	    column-count: 1;
    width: auto;
}


.section{
	margin-bottom: 75px!important;
}

.section .bild-element{
margin: auto;
	margin-left: 2%!important;
	margin-right: 2%!important;
	margin-bottom: 50px!important;
	width: 96%!important;
	
	background: yellow!important;

}

.section .text-element{
	width: 96%!important;
	text-align: center!important;
	margin: auto!important;
	margin-bottom: 50px!important;
	
	background: blue;
}

.footer{
	padding-right: 0;
	text-align: left;
}

}
